<div class="menu-overlay"></div>


<!-- jQuery  -->
<script src="~/Admin/Vertical/assets/js/jquery.min.js"></script>
<script src="~/Admin/Vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/Vertical/assets/js/metismenu.min.js"></script>
<script src="~/Admin/Vertical/assets/js/waves.js"></script>
<script src="~/Admin/Vertical/assets/js/simplebar.min.js"></script>

<!-- App js -->
<script src="~/Admin/Vertical/assets/js/theme.js"></script>